.contianer{
    margin:0px;
    padding: 0px;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
  background-color: #000
  ;
  color: #ffff;
  margin:0px;
  padding: 0px;
}
nav>img{
    width:100px;
}

.list{
    display: flex;
    list-style-type: none;
   
   
}
.items{
    cursor: pointer;
    margin: 0px 20px 0px 20px;
}
.button{

       display: flex;
}
.btn{
    margin-left: 30px;
    padding: 5px;
    
}
.firstsection>h1{
    font-size:60px;
    width:700px ;
}
.firstsection>p{
    width: 390px;
    color: #979b9e;
}
.firstsection>h1>span{
    color: #E03B8B;
}
.start{
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.start>img{
  
  /* margin-left:50px; */
}
.start>img>span{
    position: absolute;
    margin-left: 100px;
}
.k{
    font-size: 30px;
}

.plus{
    color: #E03B8B;
    font-size: 50px;
}
.user{
    font-size: 10px;
    color: #979b9e;
    width:50px;
}